body {
    background-color: peachpuff;
    font-family: 'Montserrat', sans-serif;
    color: sienna;
    font-size: 16px;
    background
}
.header{
    display: flex;
    height: 10%;
}
.content{
    display: flex;
    height: 70%;
    border:  4px double sienna inset;
}
.footer{
    display: flex;
    height: 20%;
}

