html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500%;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #00ffe0;
    text-decoration: underline;
}
.header{
    display: grid;
    grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% ;
    grid-template-rows: 100%;
    align-content: center;
    height: 10%;
    max-height: 70px;
    width: 80%;
    margin-top: 1%;
    border: 2px solid #00ffe0;
    border-radius: 25px;
    background-color: #000000;
    box-shadow: 0px 0px 35px 15px rgba(0, 255, 224, 0.2);
    position: sticky;
    top: 4%;
}


.logo{
    grid-column: 2 / 4;
    grid-row: 1 / 4;
    align-content: center;
    justify-content: center;
}

.logo_image{
    height: 60%;
}

.about_link{
    text-align: center;
    grid-column: 9 / 10;
    align-content: center;
}
.buy_link {
    text-align: center;
    grid-column: 10 / 11;
    align-content: center;
}
.question{
    text-align: center;
    grid-column: 11 / 12;
    align-content: center;
}
.content{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 70%;
    width: 90%;
    margin-top: 5%;
    border: 4px double white;
}

.main_desc{
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    background-color: rgba(0, 255, 224, 0.5);
    padding: 10%;
}

.main_desc_text{
    background-color: #b20808;
}
.desc_image{
    grid-column: 5 / 11;
    grid-row: 1 / 2;
    max-width: 100%;
    max-height: 50%;
    z-index: 1;
    background-color: #b20808;
}

.desc_image_jpg {
    max-width: 100%;
    max-height: 50%;
    object-fit: contain; /* или "cover" в зависимости от желаемого результата */
    overflow: hidden;
}

.footer{
    display: block;
    height: 20%;
}

