/* Основные стили для страницы */
body {
    background-color: peachpuff;
    font-family: 'Montserrat', sans-serif;
    color: sienna;
    font-size: 16px;
    background
}

.header{
    text-align: right;
    margin-right: 0.5%;
    padding: 2%;
}

a {
    text-align: center;
    text-decoration-line: none;
    margin: 0.5%;
}
/* Стили для заголовка */
h1 {
    font-size: 28px;
    margin: 10px 30px 10px 30px;
    text-align: center;
}


/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    border: 4px double sienna;
    border-radius: 30px;
}

caption {
    font-size: 28px;
    margin: 10px 30px 10px 30px;
    text-align: center;
    font-weight: bold;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

thead {
    background-color: papayawhip;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: moccasin;
}

tbody tr:nth-child(odd) {
    background-color: lightsalmon;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 4px double sienna;
    border-radius: 30px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    max-width: 25%;
    text-align: center;
}